body{background-color:#eef;color:#000;font-family:arial,sans-serif;font-size:13px}
a{color:#11c;text-decoration:none}a:hover{text-decoration:underline}
p{
line-height: 1em;
margin: 0.3em;
}
ul{
margin: 0.3em;
padding: 0 20px;
}
.content{background-color:#fff;border-color:#abd;border-style:solid;border-width:4px;margin:0 auto;padding:0px;width:700px;-webkit-border-radius:12px}
.title{color:#333;font-size:20px;margin:0 auto;text-align:center; max-width:80%;}
.option_name{float:left;font-weight:bold;margin-top:2px;width:20%; }
.option_value{
  width:75%;
  float:left; 
  border-left-width: 5px;
  border-left-color: aliceblue;
  border-left-style: solid;
  padding-left: 5px;
}
.changlog_name{float:left;font-weight:bold;margin-top:2px;width:5%; padding-right: 10px;}
.changlog_value{
  float:left; 
  width:90%;
  border-bottom-width: 5px;
  border-bottom-color: aliceblue;
  border-bottom-style: solid;
}
.text_disabled{color:#999}
.message{text-align:center; clear:both;padding:20px 10px 10px}
#status{background-color:white;color:black;font-weight:bold;margin-left:10px;opacity:0;padding:3px}
#advancedswitch{float: left;position: relative;left: 10px;bottom: 20px;}
#contactus{float: right;position: relative;right: 10px;bottom: 20px;}
.footer{margin-top:10px;text-align:center;clear: both;}
.centeredsec{clear:left; margin: 5px auto; padding: 5px 10px;}
.gap{margin: 20px auto; padding: 10px;}
.hidden{display: none; visibility: hidden;}